body{
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

#amarelo{
    background-color: #ffee00;
    padding: 10px;
}

#titulo{
    background-color:rgb(158, 158, 158);
    height: 50px;;
    
    
}

#titulo1{
    margin: 15px;
    font-size: 15px;
    
}