body{
    background-color: #ffffff;
}

.amarelo{
    background-color: rgb(173, 173, 173);
}

#titulo{
    background-color:rgb(158, 158, 158);
    height: 35px;;
    
}

#titulo1{
    margin: 5px;
}